.container-login{
    width:80%;
    height:100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-login h1{
    margin-bottom: 37px;
}

.container-login h5{
    margin-bottom: 37px;
    width: 80%;
}

.container-login .content-login button.btn-login{
    background-color: #4285F4;
    border-radius: 3px;
    border:none;
    padding: 3px 40px 3px 3px;
    color:#fff;
    margin-bottom:165px;
}

.container-login .content-login button.btn-login img{
    background-color: #fff;
    padding: 5px;
    margin-right: 40px;
}

.container-login .content-login p{
    color:#60265B;
    text-align: center;
    font-size:18px;
}

.container-login .content-login p span {
    color:#F50D5A;
}

.img-login{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.img-login, .content-login{
    width:50%;
    margin-left: 50px;
}

