.container-tweets.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
}

.container-tweets.profile-info .profile-img img{
    width: 134px;
    border-radius: 143px;
}

.container-tweets.profile-info h3{
    width: fit-content;
    background: #FFEA5C;
    padding:5px;
    border-radius: 0px 0px 0px 5px;
    margin-bottom:40px;
    margin-top: 30px;
}