.container-background{
    width:100wh;
    background-color:#150714;
}

.container-background-tweets{
    border-top: 2px solid #60265B;
    background-color: #2F112D;
}

.container-post-tweet .tweet{
    display:flex;
    padding-top: 20px;
}

.container-post-tweet img.user-profile-pic{
    width: 56px;
    border-radius: 56px;
    margin-right:20px;
}

.container-post-tweet .send-tweet textarea{
    color:#914D8B !important;
    background-color: #2F112D;
    border:none;
    height:113px;
    width:100%;
    padding: 5px 7px;
    font-size:20px;
}

.container-post-tweet .send-tweet textarea::placeholder{
    color:#914D8B !important;
    font-size:20px;
}

.container-post-tweet .send-tweet {
    width: 100%;
}

.container-post-tweet .send-tweet button.post{
    float:right;
    margin-top:30px;
    margin-bottom:30px;
    background-color: #60265B;  
    border:none;
    font-family: 'Press Start 2P', cursive;
    padding:10px 20px; 
    font-size: 20px; 
    color:#150714;
}

.container-post-tweet .send-tweet button:hover{
    background-color: #914D8B ;  
    cursor: pointer;
}

.tweet-list-item{
    padding-top:30px;
    padding-bottom:30px;
    border-bottom: 2px solid #60265B;
}

.tweet-list-item:last-child{
    border-bottom: none;
}

.tweet-list-item .delete{
    float:right;
    cursor: pointer;
}
.info-user-container{
    width: 100%;
}

.tweet-list-item .username{
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
}

.tweet-list-item .username h4.tweet-autor{
background: #FFEA5C;
/* display: inline; */
padding:5px;
border-radius: 0px 0px 0px 5px;
}

.likes img{
    width:24px;
    margin-right: 6px;
    cursor: pointer;
}

.likes span.likeon{
    color: #F50D5A;
}

.characters-used{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.characters-used p{
    font-size: 16px;
}

.characters-used p.der{
    color: #F50D5A;
}

.tweets-list-img-content{
    display: flex;
    align-items: start;
}

.img-tweet-comment{
    margin-right: 20px;
}

.img-tweet-comment img.user-profile-pic-comment{
    width:56px;
    border-radius: 56px;
}

.progress {
    display: flex;
    height: 5px;
    overflow: hidden;
    font-size: .75rem;
    background-color:  #2E132C;
    border-radius: 0px;
    margin: 0px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00DA76;
    transition: width .4s ease;
}


/* RESPONSIVE */
@media screen and (max-width: 998px){
    .container-tweets{
        width: 90%;
    }

    nav.nav-profile ul button.username-back,  nav.nav-profile ul button.logout{
        font-size: 12px !important;
    }

    .container-tweets-nav {
        width: 90% !important;
    }

    .container-post-tweet .send-tweet button.post{
        margin-top:10px;
    }
}