nav.nav-profile ul button.logout{
    background-color:#F50D5A;
    color: #250C23;
    font-size: 16px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive; 
}

nav.nav-profile ul button.logout img{
    margin-left:8px;
}

nav.nav-profile ul button.username-back{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive; 
}

nav.nav-profile ul button.username-back img{
    margin-right: 15px;
}

.container-background-profileTweets{
    border-top: 2px solid white;
    margin-top:0px
}
