/*fuente google*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: #2E132C !important;
    color: #fff !important;
}

h1{
    font-size:40px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

h4{
    font-family: 'Press Start 2P', cursive; 
    color:#2E132C;
    font-size:15px;
}

h5{ 
    color:#fff;
    font-size:24px;
}

.container-tweets{
    width: 45%;
    margin: 0 auto;
}

.container-tweets .app-nav{
}

nav{
    padding-top: 12px;
    padding-bottom: 10px;
    color:#fff;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px ;
    margin:0px
}

nav ul li a, nav ul li button{
    color:#fff;
    background-color: transparent;
    border: none;
}

/*INDEX*/

.index h1 strong{
    color:#FFFFFF;
}

/*LOGIN*/

.container-login{
    width:80%;
    height:100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-login h1{
    margin-bottom: 37px;
}

.container-login h5{
    margin-bottom: 37px;
    width: 80%;
}

.container-login .content-login button.btn-login{
    background-color: #4285F4;
    border-radius: 3px;
    border:none;
    padding: 3px 40px 3px 3px;
    color:#fff;
    margin-bottom:165px;
}

.container-login .content-login button.btn-login img{
    background-color: #fff;
    padding: 5px;
    margin-right: 40px;
}

.container-login .content-login p{
    color:#60265B;
    text-align: center;
    font-size:18px;
}

.container-login .content-login p span {
    color:#F50D5A;
}